@import "tailwindcss";
body {
  font-family: "Epilogue", sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  min-height: max(884px, 100dvh);
}
